"*":
  editor:
    invisibles: {}
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    disabledPackages: [
      "linter-rubocop"
    ]
  "exception-reporting":
    userId: "649ce5fa-4919-7e03-0b66-ec7f5bb4e068"
  welcome:
    showOnStartup: false
  linter:
    showInfoMessages: true
    statusBar: "Show all errors"
  "git-diff":
    showIconsInEditorGutter: true
